    h1 {
       background-color: #D4F1FD;
       color: #fff;
       text-align: center;
    }
    
    a {
       color: #40C52E;
    }
    
    body {
       background-color: #FFCFFB;
    }
    
    /* mengubah div menjadi tampilan kartu */
    div.kartu-profil {
       background-color: #FFD1F7;
       width: 280px;
       margin: 20px auto;
       padding: 20px;
       border-radius: 15px;
       box-shadow: 0 4px 8px rgba(164, 165, 248, 1);
       text-align: center;
    }
    
    div.kartu-profil img {
       border-radius: 50%;
       border: 3px solid #CCE6FF;
    }
    
    .navigasi {
       background-color: #FFC9F8;
       padding: 10px;
       text-align: center;
       border-radius: 10px;
    }
    
    .navigasi a {
       text-decoration: none;
    }
    
    .navigasi .aktif {
       font-weight: bold;
       color: #2DA8E4;
    }
    
    div.kartu-kontak {
       background-color: #B9D3FF;
       text-align: center;
       width: 80%;
       /*rata tengah horizontal*/
       margin: 0 auto;
       padding: 10px;
       /* sudut kotak tumpul*/
       border-radius: 10px;
    }
    
    .tombol-medsos {
       /* agar tombol melebar satu baris penuh */
       display: block;
       padding: 10px;
       /* teks rata tengah */
       text-align: center;
       text-decoration: none;
       margin: 8px;
       /*sudut tumpul */
       border-radius: 15px;
    }
    
    .wa {
       background-color: #03FEF3;
    }
    
    .github {
       background-color: #dddddd;
    }
    
    .galeri-container {
       text-align: center;
       max-width: 100%;
       margin: 0 auto;
    }
    
    /* item galeri foto */
    .galeri-item {
       width: 50%;
       max-width: 180px;
       display: inline-block;
       margin: 10px;
       border-radius: 8px;
       overflow: hidden;
       background-color: #BAE8FF;
    }
    
    .galeri-item img {
       width: 100%;
       height: 150px;
       object-fit: cover;
    }
    
    .galeri-item p {
       padding: 0px;
       line-height: 0.5;
    }